/tests/assets/beir/arguana.zip
/tests/assets/beir/fiqa.zip
/tests/assets/beir/nfcorpus.zip
/tests/assets/beir/scifact.zip
/tests/assets/bright/documents/earth_science.parquet
/tests/assets/bright/documents/psychology.parquet
